[Desktop Entry]
Name=Telegram
GenericName=Telegram Messenger
Exec=/usr/bin/telegram-desktop
Terminal=false
Icon=telegram-desktop
Type=Application
Categories=Network;
