[Desktop Entry]
Name=Telegram
GenericName=Telegram Messenger
Exec=/usr/bin/telegram-desktop
Terminal=false
Icon=telegram
Type=Application
Categories=Network;
