[Desktop Entry]
Name=Telegram Desktop
GenericName=Telegram Desktop
Comment=Official desktop version of Telegram messaging app
Keywords=IM;Chat;
Exec=/usr/bin/telegram-desktop -- %u
Terminal=false
StartupWMClass=TelegramDesktop
Icon=telegram-desktop
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
